/*  This my boring CSS */

.redh2 {
	color:red;
}

#lipointil {		/* ca change de class Dieu que c'est ennuyeux de refaire ma première année */ après 5 ans d'informatique et 10 ans d'exp professionnel comme ingénieur dév */
					/* après 5 ans d'études en informatique et 10 ans d'expérience professionnel comme ingénieur dév */
	border: 2px dotted goldenrod;
}

.flyingmouse{
	background-color:yellow;
	color: red;
}

.flyingmouse:hover{
	background-color:darkgrey;
	color: navy;
}

.myblueli{
	color: blue;
}

.roundcorner{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border: 0.25em outset darkblue;
}

.lifl::first-letter{
	color: red;
	font-size: 300%;
	font-family: Script;
}

@keyframes defilements {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(-100%,0,0);
  }
}

.defil{
	color: firebrick;
	max-width: 100%;                      
	margin: 1em auto 2em;
	border: 10px solid #F0F0FF;
	overflow: hidden;                     
	box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
}

.defil > :first-child {
	display: inline-block;
	padding-right: 2em;
	padding-left: 100%;
	white-space: nowrap;
	animation: defilements 15s infinite linear;
}

a{
    color:#ccc;
    text-shadow:0 -1px 0 black; 
	transform:scale(0) rotate(-12deg);
}
a:hover,a:focus{
    background:rgba(0,0,0,.4);
    box-shadow:0 1px 0 rgba(255,255,255,.4);
	transform:scale(0) rotate(-12deg);
}

a span{
	position:absolute;
	margin-top:23px;
    margin-left:-35px;
	color:#09c;
    background:rgba(0,0,0,.9);
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
	transform:scale(0) rotate(-20deg);
	transition:all .25s;
	opacity:0;
}

a:hover span, a:focus span{
	transform:scale(1) rotate(0);
	opacity:.5;
}

body {
	background: linear-gradient(#ccdfe3, #f2f9fa);
}

button{
	color: Blue;
	font-style: italic;
	background-color: linear-gradient(darkgray, lightgray);
	border-style: outset;
	box-shadow: 5px 3px 3px #bdc8c9;
}

footer{
	border-top: 2px inset gold;
	background-color: #cce1e6;
	color:firebrick;
}

li:hover{
	transform: translateX(100px);
	-webkit-transform: rotateX(-45deg);
	-moz-transform: rotateX(-45deg);
	-ms-transform: rotateX(-45deg);
	-o-transform: rotateX(-45deg);
	transform:  rotateX(-45deg);
}

fieldset{
	color: navy;
}



